@{
    ViewBag.Title = "Join Meeting";
}

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">*@
    <style>
        body {
            /*direction: rtl;*/
            text-align: center;
            padding: 20px;
        }

        .iframe-container {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <h1>الانضمام إلى الاجتماع</h1>
    <div class="iframe-container">
        <iframe src="https://whereby.com/debates1"
                allow="camera; microphone; fullscreen; speaker; display-capture"
                style="width: 300px; height: 600px; border: 0;">
        </iframe>
    </div>
</body>
</html>