@{
    ViewBag.Title = "About1";
    
}


<!doctype html>
<html lang="en">


<!-- Mirrored from themeperch.net/html/politixy/about-us-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Aug 2024 19:19:48 GMT -->


<body>
    <div class="page landing-page">


        <!--Header Section ======================-->
        <!--Banner Section ======================-->
        <!--<section class="section-banner banner-1 position-relative parallax" data-bs-theme="dark" dir="rtl" style="background-image: url('~/Content/assets/images/58aebaa89a06bc60dfecdcb96f09e0cf.jpg')">
        <div class="container">
            <div class="banner-wrapper d-flex flex-column gap-3 gap-lg-20 justify-content-center align-items-lg-center">
                <h2 class="banner-heading mb-0">من نحن</h2>

            </div>-->
        <!-- banner-wrapper -->
        <!--</div>-->
        <!-- container -->
        <!--Banner Section ======================-->
        <!--About Section ======================-->
        <section class="section-about about-1 py-60 py-lg-100 py-xxl-120" dir="rtl">
            <div class="container">
                <div class="d-flex flex-column gap-60 gap-lg-100 gap-xxl-120">
                    <div class="row align-items-center g-60 gy-lg-0">
                        <div class="col-lg-6">
                            @*<h6 class="subtitle lead text-primary mb-10 wow fadeInLeft" data-wow-duration="1.3s">من نحن </h6>*@
                            <div class="d-flex flex-column gap-20 mb-30">
                                <h2 class="mb-0 wow fadeInLeft" data-wow-delay=".2s" data-wow-duration="1.3s">من نحن</h2>
                                <p class="mb-0 fs-5 fw-semibold wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1.3s">
                                <p class="mb-0 wow fadeInLeft" data-wow-delay=".4s" data-wow-duration="1.3s">
                                    مرحبًا بكم في "انتخب" – موقعكم الانتخابي الموثوق الذي يهدف إلى تقديم معلومات دقيقة وشفافة حول الانتخابات. نسعى من خلال "انتخب" إلى تثقيف الناخبين وتسهيل الوصول إلى الموارد الانتخابية التي تحتاجونها. الانتخابات في الأردن جزءٌ أساسي من العملية الديمقراطية التي تتيح لكم اختيار ممثليكم في البرلمان والمجالس المحلية. إليكم نظرة عامة على النظام الانتخابي في الأردن: <br><br>
                                    1. الانتخابات النيابية: في "انتخب"، نسلط الضوء على الانتخابات النيابية، حيث يتم انتخاب أعضاء مجلس النواب الأردني، الغرفة الأدنى في البرلمان. تُجرى هذه الانتخابات كل أربع سنوات وفقًا لنظام التمثيل النسبي القائم على القوائم الانتخابية، مع استخدام نظام الصوت الواحد غير المتحول (SNTV) في الدوائر الانتخابية. <br><br>
                                    2. الانتخابات المحلية: نوفر لكم أيضًا في "انتخب" معلومات حول الانتخابات المحلية التي تشمل انتخاب رؤساء وأعضاء المجالس البلدية والمحافظات. هذه الانتخابات تُعقد كل أربع سنوات، وتتيح لكم الفرصة لاختيار ممثليكم في إدارة الشؤون المحلية.
                                </p>

                            </div>
                            @*<div class="author-info wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1.4s">
                                    <img class="mb-3 img-fluid" src="~/Content/assets/images/sign-dark.png" alt="sign-dark">
                                    <h5 class="mb-10">David M.Smith</h5>
                                    <p class="mb-0 body-color-style-1">Candidate</p>
                                </div>*@
                            <!-- author-info -->
                        </div>
                        <!-- col-6 -->
                        <div class="col-lg-6 wow slideInRight" data-wow-duration="1.5s">
                            <div class="about-image">
                                <img src="~/assets/images/58aebaa89a06bc60dfecdcb96f09e0cf.jpg" class="img-fluid w-100" style="height: auto;" alt="about-image-1">
                            </div>
                        </div>
                        <!-- col-6 -->
                    </div>
                    <!-- row -->
                    <!--Donate Section ======================-->
                    <section class="section-about about-1 py-60 py-lg-100 py-xxl-120">
                        <div class="container">

                            <div class="d-flex flex-column gap-60 gap-lg-100 gap-xxl-120">

                                <!--Donate Section ======================-->
                                <div id="donate" class="section-donate donate-1" data-bs-theme="dark">
                                    <div class="donate-wrapper p-40 p-lg-70">
                                        <div class="row align-items-center gy-40">

                                            <div class="col-lg-5">
                                                <div class="d-flex flex-column gap-4">
                                                    <h2 class="mb-0 donate-heading">
                                                        تذبذب نسبة المشاركة في الانتخابات النيابية الأردنية
                                                    </h2>
                                                    <p class="mb-0">نسبة أعداد المصوتين في الانتخابات النيابية الأردنية شهدت تذبذباً ملحوظاً على مر السنوات. على سبيل المثال، بلغت نسبة المشاركة في انتخابات عام 2020 حوالي 29.9%، بينما كانت نسبة المشاركة في انتخابات عام 2013 نحو 56%، مما يعكس تغيرات في الوعي السياسي والمشاركة الشعبية</p>
                                                </div>
                                            </div>
                                            <!-- col-4 -->

                                            <div class="col-lg-7">
                                                <div class="donate-inner d-flex flex-column gap-30 ms-auto">
                                                    <ul class="donate-lists list-unstyled d-flex flex-wrap justify-content-between gap-3 mb-0 me-auto">
                                                        <li class="fs-6">الدورة الثانية والعشرون  ٪٣٦</li>
                                                        <li class="fs-6">الدورة الثالثة والعشرون  ٪٢٩.٩</li>
                                                        <li class="fs-6">الدورة العشرون  ٪٥٤</li>
                                                        <li class="fs-6">الدورة الحادي والعشرون  ٪٥٦</li>
                                                        <li class="fs-6">الدورة الثامنة عشر ٪٥٠</li>
                                                        <li class="fs-6">الدورة التاسعة عشر ٪٥٣</li>
                                                        <li class="fs-6">الدورة السادسة عشر ٪٤٣</li>
                                                        <li class="fs-6">الدورة الخامسة عشر  ٪٣٦</li>
                                                    </ul>
                                                    <div>
                                                        <button type="button" class="btn btn-primary w-100" onclick="window.location.href='@Url.Action("About", "Home")'">أكتشف المزيد</button>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- col-7 -->
                                        </div>
                                        <!-- row -->
                                    </div>
                                    <!-- bg-secondary -->
                                </div>
                                <!--Donate Section ======================-->
                                <!-- row -->
                            </div>
                            <!-- d-flex -->
                        </div>
                        <!-- container -->
                        <!-- map start-->
                        @*<div class="map" id="mapContainer"></div>
                            <div id="popup" class="popup"></div>*@
                        <!-- map end -->

                    </section>            <!--Donate Section ======================-->
                </div>
                <!-- d-flex -->
            </div>
            <!-- container -->
        </section>

        <!--About Section ======================-->
        <!--Video Section ======================-->
        <section class="section-video video-1 bg-custom-light pt-60 pt-lg-100 pt-xxl-120 max-width">

            <div class="d-flex flex-column gap-40">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2 text-lg-center">
                            <div class="contents-width">
                                <div class="d-flex flex-column gap-3 wow slideInUp">
                                    <h6 class="subtitle lead text-primary mb-0"> شاهد وشارك</h6>
                                    <h2 class="mb-0">فيديو حملتنا الأولى</h2>
                                    <p class="mb-0">

                                        في "انتخب"، ندرك أهمية التصويت كجزء أساسي من بناء مستقبل مشترك أفضل. صوتك ليس مجرد خيار فردي، بل هو صوت المجتمع كله، وتأثيره يتعدى حدود الفرد ليشمل الجميع. من خلال "انتخب"، نهدف إلى نشر الوعي بأهمية المشاركة الانتخابية. ساهم معنا في تعزيز هذا الوعي وشارك موقع "انتخب" مع أصدقائك وعائلتك. دعونا نعمل معًا لضمان أن كل صوت يتم سماعه وكل رأي يحترم.

                                        !
                                    </p>
                                </div>
                            </div>
                            <!-- contents-width -->
                        </div>
                        <!-- col-8 -->
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->


                <div class="bg-secondary text-bg-dark" data-bs-theme="dark">
                    <div class="row align-items-center g-0">
                        <div class="col-lg-6">
                            <div class="video-image-wrapper position-relative">
                                @*<img src="~/Content/assets/images/video" class="img-fluid" alt="video-image">*@
                                <img src="~/assets/images/5f90885be8171ead43259672a288fe13.jpg" class="img-fluid" alt="video-image">

                                <a href="https://www.youtube.com/watch?v=YMc2IBYYyZc" class="video-popup video-popup-style-3">
                                    <span class="video-icon">
                                        <svg width="40" height="50"><use xlink:href="#video-icon"></use></svg>
                                    </span>
                                </a>
                            </div>
                            <!-- video-image-wrapper -->
                        </div>
                        <!-- col-6 -->

                        <div class="col-lg-6">
                            <div class="video-descriptions d-flex gap-3 gap-xxl-30">

                                <span class="quote-icon">
                                    <svg width="78" height="60"><use xlink:href="#quote-icon"></use></svg>
                                </span>
                                <div class="video-description-inner d-flex flex-column gap-4 gap-xxl-40">
                                    <p class="mb-0 video-description-text">

                                        في "انتخب"، نؤمن بأن جوهر التمكين الحقيقي لا يكمن في غياب الصعوبات، بل في القدرة على مواجهتها والتغلب عليها. ومع تزايد التحديات وتعقيدات المشهد الانتخابي الأردني، نتذكر أن قوة إرادتنا هي المحرك الأساسي للتغيير. من خلال "انتخب"، نساعدك على تحويل التحديات إلى فرص، وتمكينك من المشاركة الفعالة في الانتخابات. شارك في "انتخب" وكن جزءًا من صنع القرار، لأن صوتك هو الخطوة الأولى نحو تحقيق التغيير الذي ننشده جميعًا لمستقبل أفضل.

                                        .
                                    </p>
                                    @*<div class="author-info">
                                            <img class="mb-3 mb-xxl-4 img-fluid sign-light" src="~/Content/assets/images/sign-light.png" alt="sign-light">
                                            <h4 class="mb-1 mb-xxl-10">David M.Smith</h4>
                                            <p class="mb-0 fs-5 body-color-style-1">Candidate</p>
                                        </div>*@
                                    <!-- author-info -->
                                </div>

                            </div>
                            <!-- video-descriptions -->
                        </div>
                        <!-- col-6 -->
                    </div>
                    <!-- row -->

                </div>
            </div>
            <!-- d-flex -->
        </section>
        <!--Video Section ======================-->
        <!--Vison Section ======================-->
        <section class="section-vison vison-1 bg-custom-light py-60 py-lg-100 py-xxl-120">
            <div class="container">

                <div class="d-flex flex-column gap-40">
                    <div class="row">
                        <div class="col-lg-9 offset-lg-2 text-lg-center">
                            <div class="contents-width">
                                <div class="d-flex flex-column gap-3 wow fadeInUpBig">
                                    <h6 class="subtitle lead text-primary mb-0">
                                        هذه هي فرصتنا ل
                                    </h6>
                                    <h2 class="mb-0">
                                        إعادة البناء بشكل أفضل من أي وقت مضى
                                    </h2>
                                    <p class="mb-0" style="direction: rtl">

                                        في "انتخب"، نحن ملتزمون بإحداث تأثير إيجابي على بلدنا، سواء كان الأمر يتعلق بالدفاع عن العدالة الاجتماعية، تعزيز الاستدامة البيئية، أو الدفاع عن التعليم وإتاحة الفرص للجميع. من خلال "انتخب"، نعمل على توفير منصة تمكّنك من المشاركة الفعالة في القضايا التي تهمك والمساهمة في بناء مستقبل مشرق لوطننا. كن جزءًا من التغيير، وشارك في الانتخابات لتحقيق الأهداف التي تؤمن بها.

                                        .
                                    </p>
                                </div>
                            </div>
                            <!-- contents-width -->
                        </div>
                        <!-- col-8 -->
                    </div>
                    <!-- row -->

                    <div class="row g-30">

                        <div class="col-xl-7">
                            <div class="card-vison d-flex flex-column gap-20 wow fadeInLeft">
                                <div class="card card-style-3">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-lg-6 col-xxl-5">
                                            <div class="card-image-wrapper">
                                                <img src="~/assets/images/IMAGE 6.jpg" alt="campaign-1">
                                            </div>
                                            <!-- card-image-wrapper -->
                                        </div>
                                        <!-- col-6 -->
                                        <div class="col-lg-6 col-xxl-7">
                                            <div class="card-body d-flex flex-column gap-2 gap-lg-3">
                                                <h5 class="card-title lead fw-semibold mb-0"><a href="news-single.html" class="text-decoration-none link-hover-animation-1">رؤيتنا</a></h5>
                                                <p class="card-text mb-0">
                                                    رؤيتنا

                                                    رؤيتنا في "انتخب" هي أن نكون المصدر الأول والموثوق للمعلومات الانتخابية في المملكة. نسعى لأن نكون الجسر الذي يصل بين المواطن وصناديق الاقتراع، وأن نلعب دورًا محوريًا في تعزيز الديمقراطية من خلال تمكين كل فرد من ممارسة حقه الانتخابي بكل وعي وشفافية. مع "انتخب"، نهدف إلى بناء مجتمع واعٍ يسهم في صنع قرارات تعزز مستقبل الأردن.


                                                </p>

                                            </div>
                                            <!-- card-body -->
                                        </div>
                                    </div>
                                </div>
                                <!-- card-style-3 -->

                                <div class="card card-style-3">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-lg-6 col-xxl-7">
                                            <div class="card-body d-flex flex-column gap-2 gap-lg-3">
                                                <h5 class="card-title lead fw-semibold mb-0"><a href="news-single.html" class="text-decoration-none link-hover-animation-1">مهمتنا  </a></h5>
                                                <p class="card-text mb-0">


                                                    مهمتنا في "انتخب" هي ضمان نزاهة وشفافية العملية الانتخابية من خلال توفير معلومات دقيقة وموثوقة للناخبين. نسعى لتعزيز المشاركة المدنية وزيادة وعي المواطنين بأهمية أصواتهم في تشكيل مستقبل الوطن. مع "انتخب"، نلتزم بتقديم كل ما يحتاجه الناخب ليكون جزءًا فعالًا في العملية الديمقراطية، من أجل بناء أردن أفضل للجميع.

                                            </div>
                                            <!-- card-body -->
                                        </div>
                                        <!-- col-6 -->

                                        <div class="col-lg-6 col-xxl-5">
                                            <div class="card-image-wrapper">
                                                <img src="~/assets/images/IMAGE7.jpg" alt="campaign-1">
                                            </div>
                                            <!-- card-image-wrapper -->
                                        </div>
                                        <!-- col-6 -->
                                    </div>
                                </div>
                                <!-- card-style-3 -->
                            </div>
                            <!-- d-flex -->
                        </div>
                        <!-- col-7 -->

                        <div class="col-xl-5">
                            <div class="progress-wrapper bg-secondary text-bg-dark wow fadeInRight" data-bs-theme="dark">
                                <div class="progress-inner">
                                    <div class="mb-60">
                                        <h2 class="mb-4 progress-heading">انتخب من أجل التقدم </h2>
                                        <p class="mb-0">"نحن في انتخب نعمل بحيادية تامة لضمان تمثيل كافة الأردنيين. بغض النظر عن توجهاتكم السياسية، نلتزم بتوفير بيئة انتخابية نزيهة وشفافة تتيح للجميع المشاركة الفعالة في العملية الديمقراطية. إن واجبنا هو ضمان رعاية حقوق جميع المواطنين، والعمل مع كافة الأطياف لتحقيق انتخابات عادلة وشاملة."</p>
                                    </div>
                                    <!-- mb-60 -->

                                    <div class="d-flex flex-column gap-30">

                                        <div class="progress-items fw-semibold">
                                            <h5 class="mb-10 fw-semibold">توفير منصة موثوقة وشفافة</h5>
                                            <div class="progress progress-1">
                                                <div class="progress-bar progress-bar-1" style="width: 80%">
                                                </div>
                                                <div class="progress-pricing">
                                                    <span>80%</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="progress-items fw-semibold">
                                            <h5 class="mb-10 fw-semibold">
                                                تثقيف الناخبين
                                                </p>
                                            </h5>
                                            <div class="progress progress-1">
                                                <div class="progress-bar progress-bar-2" style="width: 90%">
                                                </div>
                                                <div class="progress-pricing">
                                                    <span>90%</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="progress-items fw-semibold">
                                            <h5 class="mb-10 fw-semibold">الوصول للموارد الانتخابية</h5>
                                            <div class="progress progress-1">
                                                <div class="progress-bar progress-bar-3" style="width: 60%">
                                                </div>
                                                <div class="progress-pricing">
                                                    <span>60%</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- d-flex -->
                                </div>
                                <!-- progress-wrapper -->
                            </div>
                            <!-- bg-secondary -->
                        </div>
                        <!-- col-5 -->

                    </div>
                    <!-- row -->
                </div>
                <!-- d-flex -->

            </div>
            <!-- container -->
        </section>
        <!--Vison Section ======================-->
        <!--Portfolio Section ======================-->
        <!--Portfolio Section ======================-->
        <!-- Modal-Map -->
        <!-- SVG ======================-->
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

            <symbol id="chevron-down-icon" viewBox="0 0 12 8" fill="none">
                <path d="M1 1.5L6 6.5L11 1.5" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
            </symbol>

            <symbol id="chevron-right-icon" viewBox="0 0 9 14" fill="none">
                <path d="M1 1L7 7L1 13" stroke-width="1.5" />
            </symbol>


            <symbol id="arrow-icon" viewBox="0 0 16 16">
                <path d="M14 7.99984L10.6667 4.6665M14 7.99984L10.6667 11.3332M14 7.99984H2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </symbol>

            <symbol id="video-icon" viewBox="0 0 21 26">
                <path d="M0.500998 12.9718C0.500998 9.35922 0.500998 5.74709 0.500998 2.13545C0.500998 1.53824 0.578769 0.996786 1.15397 0.676903C1.72917 0.35702 2.23247 0.572721 2.73578 0.897006C8.36356 4.51647 13.9928 8.13594 19.6235 11.7554C20.8194 12.5243 20.8165 13.4898 19.6162 14.2602C14.0041 17.8699 8.39143 21.4786 2.77833 25.0863C2.26182 25.4179 1.75118 25.6732 1.14663 25.3299C0.572897 25.0056 0.49953 24.4641 0.500998 23.8625C0.506867 20.2333 0.506867 16.603 0.500998 12.9718Z" />
            </symbol>

            <symbol id="location-icon-sm" viewBox="0 0 11 12">
                <g clip-path="url(#clip0_1_217)">
                    <path d="M4.7037 11.9999C4.52543 11.9849 4.34745 11.9691 4.16947 11.9547C3.33909 11.8891 2.52162 11.7551 1.73141 11.4838C1.26813 11.3249 0.824798 11.1267 0.453005 10.7965C0.265936 10.6303 0.120209 10.4347 0.0477858 10.1925C-0.085919 9.74714 0.0659647 9.37945 0.375597 9.06484C0.685229 8.75022 1.07931 8.55289 1.4898 8.39367C2.03312 8.18285 2.59639 8.04592 3.1702 7.94975C3.196 7.94535 3.22093 7.93685 3.25553 7.92805C3.23441 7.89052 3.21917 7.86003 3.20099 7.83159C2.79782 7.20118 2.38732 6.57576 1.99178 5.93978C1.48013 5.11527 1.29159 4.21657 1.464 3.26012C1.71147 1.88583 2.48027 0.885098 3.75839 0.335032C5.07549 -0.230868 6.3536 -0.0739993 7.52528 0.761069C8.33748 1.33958 8.84268 2.13682 9.04471 3.11087C9.25289 4.11571 9.08634 5.0663 8.54126 5.93978C8.14542 6.57488 7.73551 7.2006 7.33205 7.83188C7.31388 7.8612 7.29863 7.89052 7.27722 7.92864C7.51179 7.97643 7.73639 8.0166 7.95894 8.06909C8.59433 8.21775 9.218 8.4013 9.77363 8.75902C10.0797 8.95576 10.3442 9.19239 10.4709 9.55069C10.5976 9.909 10.5295 10.2348 10.3149 10.5356C10.1003 10.8364 9.79386 11.0367 9.4684 11.2021C8.80105 11.5407 8.08414 11.724 7.34935 11.8313C6.87552 11.9005 6.39612 11.9319 5.91936 11.9808C5.88095 11.9846 5.84312 11.9934 5.80501 11.9999H4.7037ZM5.26344 9.76298C5.29746 9.71225 5.32209 9.67794 5.34408 9.64247C6.18501 8.32477 7.02242 7.00356 7.86805 5.68997C8.53804 4.64848 8.62453 3.56271 8.0733 2.45935C7.56604 1.44601 6.71895 0.855777 5.5892 0.741718C4.39583 0.620914 3.43057 1.07539 2.71191 2.0339C1.95396 3.04461 1.90646 4.50861 2.58436 5.56828C3.18115 6.5007 3.77735 7.43321 4.37296 8.36582C4.66822 8.82558 4.96085 9.28621 5.26462 9.76298H5.26344ZM5.26168 11.3144C5.7015 11.285 6.14132 11.2672 6.58114 11.2264C7.34349 11.1578 8.09294 11.0129 8.80955 10.7303C9.13648 10.6013 9.45462 10.4532 9.69622 10.1829C9.87684 9.97937 9.8745 9.8052 9.69622 9.60171C9.52851 9.40995 9.31505 9.28093 9.08898 9.17274C8.39964 8.84112 7.65987 8.69246 6.90836 8.59277C6.87904 8.58895 6.83271 8.62209 6.81278 8.65141C6.72481 8.77984 6.64301 8.91295 6.55944 9.04431C6.23691 9.5504 5.91437 10.0567 5.59184 10.5632C5.50006 10.7098 5.37867 10.7875 5.20187 10.7596C5.0752 10.7394 4.99985 10.6535 4.93505 10.5514C4.53784 9.9259 4.14044 9.30117 3.74284 8.67721C3.7015 8.61212 3.66632 8.57605 3.57718 8.5957C3.41415 8.63206 3.24614 8.64525 3.08136 8.67545C2.46268 8.7898 1.85338 8.93934 1.30156 9.25367C1.12697 9.35534 0.96681 9.48 0.825383 9.62429C0.654147 9.79728 0.662944 9.98288 0.825383 10.1658C0.899941 10.2507 0.984179 10.3264 1.07637 10.3916C1.44465 10.6499 1.86248 10.8004 2.29086 10.922C3.26139 11.1997 4.25626 11.2906 5.26286 11.3144H5.26168Z" />
                    <path d="M7.02215 3.89711C7.02267 4.24417 6.9203 4.58359 6.72799 4.8725C6.53567 5.1614 6.26203 5.38681 5.94165 5.52025C5.62127 5.6537 5.26853 5.68918 4.92799 5.62221C4.58745 5.55525 4.2744 5.38885 4.0284 5.14404C3.7824 4.89922 3.61449 4.58698 3.54588 4.24677C3.47727 3.90656 3.51104 3.55365 3.64293 3.23263C3.77482 2.9116 3.99891 2.63688 4.28687 2.44317C4.57484 2.24945 4.91377 2.14545 5.26083 2.14429C5.72649 2.14428 6.17321 2.32868 6.50327 2.65716C6.83334 2.98563 7.0199 3.43145 7.02215 3.89711ZM6.31844 3.89711C6.3186 3.75888 6.29152 3.62196 6.23876 3.49419C6.18601 3.36642 6.1086 3.2503 6.01096 3.15244C5.91333 3.05459 5.79737 2.97692 5.66972 2.92388C5.54207 2.87084 5.40522 2.84346 5.26698 2.8433C5.12875 2.84315 4.99184 2.87022 4.86407 2.92298C4.7363 2.97574 4.62017 3.05315 4.52232 3.15078C4.42446 3.24842 4.3468 3.36438 4.29375 3.49203C4.24071 3.61968 4.21333 3.75653 4.21318 3.89476C4.20907 4.47005 4.69522 4.9559 5.2705 4.95033C5.84578 4.94476 6.32108 4.47005 6.31932 3.89799L6.31844 3.89711Z" />
                </g>
                <defs>
                    <clipPath id="clip0_1_217">
                        <rect width="10.5339" height="12" fill="white" />
                    </clipPath>
                </defs>
            </symbol>

            <symbol id="clock-icon" viewBox="0 0 12 12">
                <g clip-path="url(#clip0_1_220)">
                    <path d="M6.37461 12H5.62461C5.54805 11.9903 5.47148 11.9797 5.39492 11.9713C4.20898 11.8409 3.14492 11.4087 2.22336 10.6522C1.07398 9.7075 0.356797 8.50156 0.0917969 7.03375C0.0524219 6.815 0.0292969 6.59469 -0.00195312 6.375V5.625C0.00651893 5.59538 0.0128885 5.5652 0.0171089 5.53469C0.0967964 4.51031 0.413046 3.56594 0.985859 2.71344C1.94836 1.28562 3.27555 0.400938 4.97555 0.0912504C5.18961 0.0521879 5.40648 0.02875 5.62211 0H6.37211C6.57617 0.026875 6.78148 0.0475002 6.9843 0.0821877C8.10742 0.273125 9.09992 0.743125 9.95305 1.49875C11.0018 2.42875 11.658 3.58437 11.9055 4.9675C11.9449 5.18625 11.968 5.405 11.9993 5.62594V6.37594C11.9924 6.40719 11.9843 6.43562 11.9793 6.46594C11.9312 6.77375 11.9027 7.08594 11.8327 7.38844C11.298 9.695 9.36023 11.5169 7.03211 11.9097C6.8143 11.9456 6.59336 11.9688 6.37461 12ZM11.2965 6C11.2965 3.08 8.91617 0.700625 5.99711 0.702812C3.07805 0.705 0.708672 3.07625 0.702734 5.99344C0.696796 8.91062 3.07773 11.2937 5.99617 11.2969C8.91461 11.3 11.2959 8.92 11.2965 6Z" />
                    <path d="M5.6481 4.93361C5.6481 4.59768 5.6481 4.26205 5.6481 3.92611C5.6481 3.69861 5.79372 3.54018 5.99841 3.53955C6.2031 3.53893 6.35029 3.69768 6.3506 3.92455C6.3506 4.53361 6.3506 5.1433 6.35404 5.75205C6.35669 5.81524 6.3816 5.87545 6.42435 5.92205C7.05352 6.55768 7.68518 7.19059 8.31935 7.8208C8.41591 7.91737 8.4781 8.02518 8.45497 8.16455C8.44556 8.22362 8.42115 8.27928 8.38409 8.32622C8.34702 8.37316 8.29854 8.40981 8.24327 8.43266C8.188 8.45552 8.12779 8.46381 8.0684 8.45676C8.00901 8.4497 7.95242 8.42753 7.90404 8.39236C7.86994 8.3663 7.83806 8.33745 7.80872 8.30611C7.14435 7.64153 6.47883 6.97705 5.81216 6.31268C5.75757 6.26293 5.71449 6.20187 5.68594 6.13375C5.65739 6.06563 5.64405 5.99211 5.64685 5.9183C5.6531 5.58986 5.6481 5.26174 5.6481 4.93361Z" />
                    <path d="M6.35124 2.13213C6.35124 2.24901 6.35405 2.36588 6.35124 2.48276C6.35091 2.5288 6.34151 2.57433 6.32359 2.61674C6.30567 2.65916 6.27956 2.69763 6.24677 2.72995C6.21398 2.76228 6.17515 2.78783 6.13248 2.80515C6.08982 2.82246 6.04416 2.83121 5.99811 2.83088C5.95207 2.83055 5.90654 2.82116 5.86413 2.80323C5.82171 2.78531 5.78324 2.75921 5.75092 2.72642C5.71859 2.69363 5.69304 2.65479 5.67572 2.61212C5.6584 2.56946 5.64966 2.5238 5.64999 2.47776C5.64686 2.24859 5.64686 2.0188 5.64999 1.78838C5.6528 1.58244 5.80624 1.42838 6.00311 1.42994C6.19999 1.43151 6.34686 1.58619 6.35155 1.79338C6.35311 1.90619 6.35155 2.01932 6.35124 2.13213Z" />
                    <path d="M2.12539 6.35135C2.01226 6.35135 1.89945 6.35385 1.78633 6.35135C1.58164 6.34604 1.42789 6.19073 1.4307 5.9951C1.43235 5.90241 1.47054 5.81411 1.53697 5.74944C1.6034 5.68477 1.69268 5.64895 1.78539 5.64979C2.01883 5.64635 2.25258 5.64573 2.48633 5.64979C2.57746 5.65251 2.66396 5.69063 2.72746 5.75606C2.79097 5.82149 2.82648 5.90908 2.82648 6.00026C2.82648 6.09144 2.79097 6.17903 2.72746 6.24446C2.66396 6.30989 2.57746 6.34801 2.48633 6.35073C2.36664 6.35448 2.2457 6.35135 2.12539 6.35135Z" />
                    <path d="M9.8794 5.64833C9.99221 5.64833 10.1053 5.64583 10.2181 5.64833C10.3111 5.64771 10.4006 5.68405 10.4668 5.74937C10.533 5.81468 10.5705 5.90362 10.5711 5.99661C10.5717 6.0896 10.5354 6.17903 10.4701 6.24523C10.4048 6.31142 10.3158 6.34896 10.2228 6.34958C9.98534 6.35416 9.74784 6.35416 9.51034 6.34958C9.41912 6.34611 9.33286 6.30721 9.26988 6.24114C9.20689 6.17507 9.17216 6.08704 9.17305 5.99577C9.17395 5.90449 9.2104 5.81716 9.27467 5.75234C9.33893 5.68752 9.42595 5.65032 9.51721 5.64864C9.63784 5.64583 9.75877 5.64833 9.8794 5.64833Z" />
                    <path d="M5.64843 9.86909C5.64843 9.75221 5.64625 9.63534 5.64843 9.51846C5.64719 9.47152 5.65537 9.4248 5.67251 9.38107C5.68965 9.33735 5.71539 9.29751 5.7482 9.26392C5.78102 9.23032 5.82025 9.20366 5.86356 9.1855C5.90687 9.16734 5.95338 9.15806 6.00034 9.1582C6.0473 9.15835 6.09376 9.16792 6.13695 9.18635C6.18015 9.20478 6.21921 9.23169 6.25181 9.26549C6.28442 9.29928 6.30991 9.33928 6.32677 9.38311C6.34364 9.42694 6.35154 9.47371 6.35 9.52065C6.35333 9.74981 6.35333 9.97961 6.35 10.21C6.34718 10.4169 6.19375 10.5703 5.99843 10.57C5.80312 10.5697 5.6525 10.4138 5.64843 10.2078C5.64687 10.0938 5.64843 9.9819 5.64843 9.86909Z" />
                    <path d="M9.33086 8.9826C9.33153 9.0285 9.323 9.07408 9.30577 9.11663C9.28854 9.15918 9.26296 9.19786 9.23054 9.23036C9.19812 9.26287 9.15952 9.28855 9.11701 9.3059C9.0745 9.32324 9.02895 9.33189 8.98305 9.33135C8.93702 9.33176 8.89137 9.32307 8.84872 9.30577C8.80607 9.28847 8.76727 9.26291 8.73454 9.23055C8.7018 9.1982 8.67579 9.15969 8.658 9.11724C8.6402 9.07479 8.63098 9.02925 8.63086 8.98322C8.63223 8.89043 8.66965 8.80182 8.73521 8.73614C8.80077 8.67046 8.88932 8.63288 8.98211 8.63135C9.02812 8.63135 9.07367 8.64045 9.11615 8.65813C9.15863 8.67581 9.19719 8.70173 9.2296 8.73438C9.26202 8.76703 9.28766 8.80577 9.30503 8.84837C9.32241 8.89097 9.33119 8.93659 9.33086 8.9826Z" />
                    <path d="M2.66801 3.01447C2.66771 2.96853 2.67662 2.923 2.69421 2.88057C2.7118 2.83813 2.73772 2.79965 2.77044 2.7674C2.80315 2.73515 2.842 2.70979 2.88469 2.69281C2.92737 2.67582 2.97302 2.66757 3.01895 2.66853C3.06498 2.66841 3.11058 2.67741 3.15311 2.69503C3.19564 2.71264 3.23426 2.73852 3.26672 2.77115C3.29918 2.80379 3.32485 2.84254 3.34224 2.88517C3.35962 2.92779 3.36839 2.97344 3.36801 3.01947C3.36599 3.1123 3.32789 3.2007 3.26179 3.26592C3.1957 3.33114 3.1068 3.36805 3.01395 3.36884C2.96791 3.36848 2.9224 3.359 2.88004 3.34096C2.83769 3.32292 2.79932 3.29667 2.76716 3.26372C2.735 3.23078 2.70968 3.19179 2.69266 3.14901C2.67565 3.10623 2.66727 3.0605 2.66801 3.01447Z" />
                    <path d="M8.97805 2.66806C9.02393 2.66702 9.06956 2.67513 9.11228 2.69192C9.15499 2.7087 9.19394 2.73383 9.22684 2.76583C9.25974 2.79783 9.28594 2.83606 9.30391 2.87829C9.32187 2.92052 9.33125 2.96591 9.33149 3.01181C9.33259 3.10456 9.29714 3.19402 9.23282 3.26086C9.1685 3.32769 9.08046 3.36654 8.98774 3.36899C8.89494 3.36786 8.80614 3.33108 8.7397 3.26628C8.67327 3.20147 8.6343 3.11361 8.63086 3.02087C8.63101 2.92831 8.66746 2.83951 8.73238 2.77354C8.7973 2.70757 8.88551 2.66969 8.97805 2.66806Z" />
                    <path d="M2.66813 8.98818C2.6667 8.89528 2.70202 8.80556 2.76639 8.73855C2.83076 8.67155 2.91899 8.63267 3.01188 8.63037C3.10473 8.63111 3.19373 8.6676 3.26037 8.73226C3.327 8.79692 3.36616 8.88477 3.3697 8.97756C3.37028 9.07043 3.33416 9.15977 3.2692 9.22614C3.20423 9.29251 3.11568 9.33053 3.02282 9.33193C2.97686 9.33301 2.93116 9.32494 2.88835 9.30818C2.84555 9.29143 2.8065 9.26632 2.77349 9.23433C2.74049 9.20234 2.71417 9.1641 2.69608 9.12184C2.67799 9.07958 2.66849 9.03415 2.66813 8.98818Z" />
                </g>
                <defs>
                    <clipPath id="clip0_1_220">
                        <rect width="12" height="12" fill="white" />
                    </clipPath>
                </defs>
            </symbol>

            <symbol id="quote-icon" viewBox="0 0 78 60">
                <g clip-path="url(#clip0_7_1293)">
                    <path d="M31.1211 0C31.2101 0.100813 31.3111 0.190315 31.4219 0.266485C33.5537 1.3286 34.5854 3.09879 34.1971 5.03649C33.7669 7.18737 32.0957 8.50835 29.6555 8.56926C24.9827 8.65467 20.4654 10.2621 16.789 13.1477C13.1127 16.0333 10.478 20.0394 9.28495 24.5581C9.2012 24.8741 9.17073 25.2015 9.08317 25.7001H29.3776C32.5411 25.7001 34.2542 27.3904 34.258 30.5196C34.258 38.7501 34.258 46.9818 34.258 55.2148C34.258 58.2603 32.5144 59.9543 29.4461 59.9581C21.5507 59.9581 13.6514 59.8896 5.75217 60.0038C3.08736 60.0419 1.14206 59.2881 0 56.8213V27.1277C0.0913647 26.7661 0.209386 26.4044 0.270296 26.0352C2.08236 14.7135 8.24185 6.71151 18.7869 2.25367C21.4136 1.14206 24.3373 0.730922 27.1239 0.00381058L31.1211 0Z" />
                    <path d="M73.9483 2.64032e-05C74.0373 0.100839 74.1383 0.190342 74.2491 0.266512C76.3809 1.32863 77.4126 3.09882 77.0243 5.0327C76.5941 7.18739 74.9229 8.50076 72.4827 8.56928C67.1455 8.63849 62.0315 10.7216 58.1651 14.4014C54.9175 17.4014 52.7095 21.3574 51.8609 25.6964H72.0373C75.4026 25.6964 77.07 27.3371 77.0738 30.6453C77.0738 38.7666 77.0738 46.9006 77.0738 55.0473C77.0738 58.2793 75.3873 59.9505 72.1249 59.9543H47.7228C44.4832 59.9543 42.8082 58.2679 42.8044 55.0245C42.8044 46.7483 42.8044 38.4722 42.8044 30.1923C42.8463 14.7783 53.8176 2.30699 69.1174 0.239861C69.3925 0.180241 69.6624 0.0987633 69.9245 -0.00378418L73.9483 2.64032e-05Z" />
                </g>
                <defs>
                    <clipPath id="clip0_7_1293">
                        <rect width="77.1042" height="60" fill="white" />
                    </clipPath>
                </defs>
            </symbol>



            <symbol id="mail-icon" viewBox="0 0 22 18" fill="none">
                <path d="M1 4L9.16492 9.71544C9.82609 10.1783 10.1567 10.4097 10.5163 10.4993C10.8339 10.5785 11.1661 10.5785 11.4837 10.4993C11.8433 10.4097 12.1739 10.1783 12.8351 9.71544L21 4M5.8 17H16.2C17.8802 17 18.7202 17 19.362 16.673C19.9265 16.3854 20.3854 15.9265 20.673 15.362C21 14.7202 21 13.8802 21 12.2V5.8C21 4.11984 21 3.27976 20.673 2.63803C20.3854 2.07354 19.9265 1.6146 19.362 1.32698C18.7202 1 17.8802 1 16.2 1H5.8C4.11984 1 3.27976 1 2.63803 1.32698C2.07354 1.6146 1.6146 2.07354 1.32698 2.63803C1 3.27976 1 4.11984 1 5.8V12.2C1 13.8802 1 14.7202 1.32698 15.362C1.6146 15.9265 2.07354 16.3854 2.63803 16.673C3.27976 17 4.11984 17 5.8 17Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </symbol>

            <symbol id="location-icon" viewBox="0 0 22 22" fill="none">
                <path d="M19 11C19 15.4183 15.4183 19 11 19M19 11C19 6.58172 15.4183 3 11 3M19 11H21M11 19C6.58172 19 3 15.4183 3 11M11 19V21M3 11C3 6.58172 6.58172 3 11 3M3 11H1M11 3V1M14 11C14 12.6569 12.6569 14 11 14C9.34315 14 8 12.6569 8 11C8 9.34315 9.34315 8 11 8C12.6569 8 14 9.34315 14 11Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </symbol>

            <symbol id="phone-icon" viewBox="0 0 24 24" fill="none">
                <path d="M14.0497 6C15.0264 6.19057 15.924 6.66826 16.6277 7.37194C17.3314 8.07561 17.8091 8.97326 17.9997 9.95M14.0497 2C16.0789 2.22544 17.9713 3.13417 19.4159 4.57701C20.8606 6.01984 21.7717 7.91101 21.9997 9.94M10.2266 13.8631C9.02506 12.6615 8.07627 11.3028 7.38028 9.85323C7.32041 9.72854 7.29048 9.66619 7.26748 9.5873C7.18576 9.30695 7.24446 8.96269 7.41447 8.72526C7.46231 8.65845 7.51947 8.60129 7.63378 8.48698C7.98338 8.13737 8.15819 7.96257 8.27247 7.78679C8.70347 7.1239 8.70347 6.26932 8.27247 5.60643C8.15819 5.43065 7.98338 5.25585 7.63378 4.90624L7.43891 4.71137C6.90747 4.17993 6.64174 3.91421 6.35636 3.76987C5.7888 3.4828 5.11854 3.4828 4.55098 3.76987C4.2656 3.91421 3.99987 4.17993 3.46843 4.71137L3.3108 4.86901C2.78117 5.39863 2.51636 5.66344 2.31411 6.02348C2.08969 6.42298 1.92833 7.04347 1.9297 7.5017C1.93092 7.91464 2.01103 8.19687 2.17124 8.76131C3.03221 11.7947 4.65668 14.6571 7.04466 17.045C9.43264 19.433 12.295 21.0575 15.3284 21.9185C15.8928 22.0787 16.1751 22.1588 16.588 22.16C17.0462 22.1614 17.6667 22 18.0662 21.7756C18.4263 21.5733 18.6911 21.3085 19.2207 20.7789L19.3783 20.6213C19.9098 20.0898 20.1755 19.8241 20.3198 19.5387C20.6069 18.9712 20.6069 18.3009 20.3198 17.7333C20.1755 17.448 19.9098 17.1822 19.3783 16.6508L19.1835 16.4559C18.8339 16.1063 18.6591 15.9315 18.4833 15.8172C17.8204 15.3862 16.9658 15.3862 16.3029 15.8172C16.1271 15.9315 15.9523 16.1063 15.6027 16.4559C15.4884 16.5702 15.4313 16.6274 15.3644 16.6752C15.127 16.8453 14.7828 16.904 14.5024 16.8222C14.4235 16.7992 14.3612 16.7693 14.2365 16.7094C12.7869 16.0134 11.4282 15.0646 10.2266 13.8631Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </symbol>

            <symbol id="facebook-icon" viewBox="0 0 9 17">
                <path d="M0.387939 8.43562V5.69697H2.18664C2.18664 5.50917 2.17882 5.34583 2.18664 5.18445C2.23555 4.31688 2.22186 3.43954 2.35586 2.58566C2.52507 1.51954 3.21071 0.820209 4.24357 0.510154C5.63833 0.0925091 7.07319 0.271499 8.51587 0.237266V2.97592H7.62581C7.44291 2.97592 7.26098 2.97592 7.07906 2.97592C6.01391 2.9945 5.81634 3.19599 5.80754 4.26994C5.80754 4.72377 5.80754 5.1776 5.80754 5.6823H8.54032C8.43273 6.62322 8.33199 7.50937 8.22929 8.42095H5.81341V16.5919H2.18958V8.43562H0.387939Z" />
            </symbol>

            <symbol id="twitter-icon" viewBox="0 0 19 15">
                <path d="M9.7541 4.63616C9.46068 2.49414 10.5121 0.82845 12.5016 0.299303C13.7604 -0.0352045 14.8959 0.299304 15.8809 1.12286C16.0765 1.28815 16.2389 1.33902 16.4677 1.2549C17.1123 1.01918 17.7588 0.789328 18.4239 0.548717C18.1725 1.31358 17.6561 1.90337 16.9783 2.37775L17.0331 2.46969L18.8543 1.98064L18.9345 2.04715C18.4777 2.51957 18.0454 3.02524 17.5524 3.45462C17.4279 3.55055 17.3281 3.67496 17.2616 3.81741C17.195 3.95986 17.1636 4.11619 17.17 4.27329C17.1328 9.29285 13.6753 13.5065 8.70265 14.4973C6.07746 15.0205 3.55399 14.6107 1.20852 13.2727C1.14104 13.2336 1.07452 13.1925 1.01291 13.1475C0.996278 13.1358 0.98943 13.1084 0.957153 13.0497C2.91333 13.2248 4.66314 12.726 6.30438 11.5239C4.625 11.3439 3.48845 10.5517 2.85465 8.94856H4.3746C2.41842 8.05067 1.52249 6.89457 1.58215 5.29833L3.03658 5.69641L3.09526 5.59077C2.36854 5.02935 1.86678 4.31926 1.6653 3.43017C1.46381 2.54109 1.6027 1.67743 2.08098 0.818669C4.11933 3.14457 6.64377 4.43467 9.7541 4.63616Z" />
            </symbol>

            <symbol id="linkedin-icon" viewBox="0 0 17 15">
                <path d="M16.1416 14.6754H12.5374V14.2685C12.5374 12.6674 12.5374 11.0672 12.5374 9.46608C12.5394 9.14098 12.5159 8.81623 12.4669 8.49483C12.3691 7.87864 12.0542 7.53435 11.57 7.4473C11.0203 7.34949 10.4139 7.56956 10.1753 8.08208C9.97009 8.51101 9.85239 8.97651 9.82903 9.45141C9.78795 11.0907 9.81338 12.7309 9.8124 14.3712C9.8124 14.4602 9.8036 14.5492 9.79675 14.6646H6.21988V4.72234H9.78991V6.00461C10.2173 5.68184 10.6047 5.25344 11.0878 5.05097C12.4239 4.48955 14.0945 4.50324 15.098 5.65641C15.7271 6.383 16.0849 7.30521 16.1103 8.26596C16.1827 10.3591 16.1661 12.4541 16.1847 14.5492C16.1761 14.593 16.1617 14.6355 16.1416 14.6754Z" />
                <path d="M0.748047 14.6742V4.72021H4.32982V14.6742H0.748047Z" />
                <path d="M4.35227 1.95705C4.35516 2.31491 4.25187 2.66559 4.05546 2.96475C3.85905 3.26391 3.57834 3.49811 3.24882 3.63773C2.91931 3.77736 2.55579 3.81613 2.20424 3.74916C1.85269 3.68219 1.52889 3.51247 1.27379 3.26148C1.0187 3.01048 0.843754 2.68948 0.77109 2.33906C0.698426 1.98864 0.731306 1.62454 0.865568 1.29281C0.99983 0.961075 1.22945 0.676603 1.52538 0.475366C1.82131 0.274128 2.17028 0.165163 2.52814 0.16225C2.76604 0.159278 3.00218 0.203458 3.22292 0.292239C3.44366 0.38102 3.64463 0.512643 3.81423 0.679512C3.98382 0.84638 4.11869 1.04519 4.21104 1.26446C4.30339 1.48373 4.35139 1.71912 4.35227 1.95705Z" />
            </symbol>
        </svg>
        <!-- SVG ======================-->
    </div>
    <!-- pages -->
   </body>


    <!-- Mirrored from themeperch.net/html/politixy/about-us-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Aug 2024 19:19:48 GMT -->
</html>